.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}

/************************************/

body {
	font-family: 	-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, title{
	font-family: acta-display, serif;
}

#logo-text {
	font-family: acta-display, serif;
	color: black;
	font-size:5rem;
	font-weight: bolder;
}

.mediumnavigation {
	box-shadow: none;
}
.card {
	/*border:none;*/
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #b7db36;
	border-left: none;
	border-right: none;
	border-bottom: none;
	/*border-radius: 0rem; !important;*/
}
.card-group>.card:only-child {
	border-radius: none;
}

@media (min-width: 576px){
	.card-group>.card:only-child {
		border-radius: 0rem;
	}
}

.card-body {
	padding-top: 0rem !important;
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	padding-bottom 1.25rem !important;
}
body {
	/*background-color: #fdfdfd;*/
}

.mb-30px {
   margin-bottom:60px;
}
.site-content {
margin-top:0rem;
}

.headline title h2 {
	font-size: 2rem;
	color: red;
}

