/* stylelint-disable selector-list-comma-newline-after */

body {
	font-family: "Mort Modern", "Comic Sans";
}

#topline {
	background-color: #859900;
}

.blog-header {
	line-height: 1;
	border-bottom: none;
}

.blog-header-logo {
	font-family: "Mort Modern", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Mort Modern", Georgia, "Times New Roman", serif;
}

.display-4 {
	font-size: 2.5rem;
}

@media (min-width: 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.nav-scroller {
	position: relative;
	z-index: 2;
	/*height: 2.75rem;*/
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller nav a {
	font-size: 1.5rem;
	font-weight: bold;
	color:inherit;
}

.blue:hover {
	text-decoration: underline #268bd2;
}
.orange:hover{
	text-decoration: underline #cb4b16;
}
.magenta:hover{
	text-decoration: underline #d33682;
}
.violet:hover{
	text-decoration: underline #6c71c4;
}

.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.flex-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250 {
	height: 250px;
}

@media (min-width: 768px) {
	.h-md-250 {
		height: 250px;
	}
}

/*
 * Blog name and description
 */
.blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
}

.blog-description {
	font-size: 1.1rem;
	color: #999;
}

@media (min-width: 40em) {
	.blog-title {
		font-size: 3.5rem;
	}
}

/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}

.blog-pagination > .btn {
	border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
	margin-bottom: 4rem;
}

.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #fdf6e3;
	text-align: center;
	background-color: #002b36;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}

.top-story {
	height: 20rem;
	/*background-color: #93a1a1;*/
}

.section-title {
	font-weight: bold;
	font-size: 1.5rem;
}

.headline {
	font-weight: bold;
	font-size: 2rem
}

.story-card {
	border-top: .05rem solid #859900;
}
