{{ define "header"}}
{{- partial "_shared/title.html" . -}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<section class="row py-4 ">
	<div class="col-md-2 px-0"></div>

	<div class="row col-md-8 article">
		<div class="d-inline-flex">
			<div class=" ">
					<header class="single-section-header mb-4">
			<h4 class="section-title text-center text-uppercase mb-0">{{ .CurrentSection.Title }}</h4>
					<h3 class="display-4 text-center pl-1 mb-2 text-uppercase">{{ .Title | title }}</h3>
					<p class="single-standfirst text-center px-0 mb-2">{{ .Params.standfirst }}</p>
					<div class="article-meta">
						<div class="byline text-center sans">
							{{ if isset .Params "author" }}
							<strong><a target="_blank" class="author-link text-uppercase">{{ .Params.author }}</strong></a> —
							{{ end }}
							<time datetime={{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}>
								{{ index $.Site.Data.dyddiadau (printf "%d" .Date.Day) }} {{ index $.Site.Data.misoedd (printf "%d" .Date.Month) }} {{ .Date.Year }}
							</time>
						</div><!-- byline -->
					</div><!-- article-meta -->
				</header>
				{{ with ( .Resources.GetMatch "main" ) }}
				<figure class="figure ">
					<img class="figure-img img-fluid" src="{{ .Permalink }}"/>
					<figcaption class="figure-caption text-right">{{ .Title }}</figcaption>
				</figure>
				{{- end }}
				{{ .Content }}
			</div>
		</div>
	</div>
</section><!-- /.row -->

{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}
