{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <section class="row py-4 ">
        <div class="col-md-2">
            <header class="single-section-header">
                <h4 class="section-title">{{ .Parent.Title }}</h4>
            </header>
            <!-- Article metadata goes here. -->
            <div class="article-meta">
                <a target="_blank" class="link-dark">{{ .Site.Params.author.name }}</a><br>
                {{ dateFormat "Jan 2, 2006" .PublishDate }}
                </span>
                {{/*{{ printf "%+v" .Params }}*/}}
            </div>
        </div>

        <div class="row col-md-8 article">
            <div class="d-inline-flex px-3">
                <div class=" ">
                    <header>
                        <h3 class="headline pl-1 mb-4">{{ .Title | title }}</h3>
                        <p class="standfirst pl-1 pr-2">{{ .Params.standfirst }}</p>
                    </header>
                    <figure class="figure ">
                        <img class="figure-img img-fluid" src="{{ .Params.image }}"/>
                        <figcaption class="figure-caption text-right">{{ .Params.imageCaption }}</figcaption>
                    </figure>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section><!-- /.row -->

{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
