<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "_shared/head.html" . -}}

<body>
{{- partial "_shared/navbar.html" . -}}

<main class="container">
    <section class="row py-4">
        <div class="col-md-2 ">
            <header>
                <h3 class="section-title">Penawdau</h3>
            </header>
        </div>

        {{ range first 1 (where .Pages.ByDate.Reverse "Section" "blog") }}
            <div class="row col-md-8">
                <div class="d-inline-flex px-3">
                    <a href="{{ .Permalink }}" class="story-link">
                        <div class="story-card top-story">
                            <img class="img-fluid" src="{{ .Params.image }}"/>
                            <header class="pt-2 pb-0">
                                <h3 class="headline ">{{ .Title | title }}</h3>
                            </header>
                            <div class="pt-4 mt-4 d-none d-lg-block">
                                <p class="standfirst mb-auto pl-1 mt-4 pr-4 ">{{ .Params.standfirstSummary }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {{ end }}
    </section>

    <section class="row py-4 border-top">
        <div class="col-md-2">
            <header>
                <h3 class="section-title">Newyddion Diweddaraf</h3>
            </header>
        </div>

        <div class="row col-md-8">
            {{ range first 2 (after 1 (where .Pages.ByDate.Reverse "Section" "blog"))}}
                <div class="col-md-4">
                    <a href="{{ .Permalink }}" class="story-link">
                        <div class="story-card story-card-md pb-2 ">
                            <div class="d-none d-md-block">
                                <img class="d-none d-md-block" width="100%"
                                     src="{{ .Params.image }}"/>
                            </div>
                            <h4 class="px-1 pt-1 ">{{ .Title | title }}</h4>
                        </div><!--story-card-->
                    </a>
                </div>
            {{ end }}
            <div class="col-md-4">
                {{ range first 3 (after 3 (where .Pages.ByDate.Reverse "Section" "blog"))}}
                    <a href="{{ .Permalink }}" class="story-link">
                        <div class="story-card story-card-sm mb-2">
                            <h5 class="px-1 pt-1">{{ .Title | title }}</h5>
                        </div>
                    </a>
                {{ end }}
            </div>
        </div>

    </section><!-- /.row -->

    <section class="row py-4 border-top">
        <div class="col-md-2">
            <header>
                <h3 class="section-title">Digwyddiadau</h3>
            </header>
        </div>
        <div class="col-md-8 faux-table">
            <div class="row pb-2 px-3 border-bottom">
                <div class="col-2 px-0">Mercher<br/>21 Tachwedd</div>
                <div class="col-3 px-0"><h4>Cyfarfod<br/>Dan y Landsker</h4></div>
                <div class="col-5 px-0">The Pembroke Yeoman, Hwlffordd</div>
                <div class="col-2 px-0">19:00 – 21:00</div>
            </div>
            <div class="row pb-2 px-3 border-bottom">
                <div class="col-2 px-0">Iau<br/>22 Tachwedd</div>
                <div class="col-3 px-0"><h4>CYD Hwlffordd</h4></div>
                <div class="col-5 px-0">The Pembroke Yeoman, Hwlffordd</div>
                <div class="col-2 px-0">21:00 –</div>
            </div>
            <div class="row pb-2 px-3 border-bottom">
                <div class="col-2 px-0">Mawrth<br/>25 Rhagfyr</div>
                <div class="col-3 px-0"><h4>Y Nadolig</h4></div>
                <div class="col-5 px-0">Ym Mhobman</div>
                <div class="col-2 px-0">Trwy'r Dydd</div>
            </div>
        </div>
    </section><!-- /.row -->
</main><!-- /.container -->

{{- partial "_shared/footer.html" . -}}
{{- partial "_shared/js.html" . -}}
{{ template "_internal/google_analytics.html" . }}

</body>
</html>
