<!-- Bottom Alert Bar ================================================== -->
<div class="alertbar">
	<div class="container text-center">
		<span>
			{{ if isset .Site.Params "logo" }}
			<img src="{{ .Site.Params.logo | urlize | relURL }}" alt="logo">
			{{ else }}
			<span style="font-family:Righteous;">{{.Site.Title}}</span>
			{{ end }}
			&nbsp; Never miss a <b>story</b>, subscribe to our newsletter
		</span>

		<form data-netlify="true" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			<input type="email" placeholder="Email" name="EMAIL" autocomplete="on" required>
			<input type="submit" value="Subscribe" name="subscribe" >
		</form>

	</div>
</div> 
