<!-- Begin Menu Navigation
================================================== -->
<div class="nav-scroller py-1 mb-2 border-bottom">
	<nav class="nav d-flex justify-content-between">
		<a class="p-2 text-muted sans text-uppercase" href="/blog/newyddion">Newyddion</a>
		<a class="p-2 text-muted sans text-uppercase" href="/blog/erthyglau">Erthyglau</a>
		<a class="p-2 text-muted sans text-uppercase" href="/blog/digwyddiadau">Digwyddiadau</a>
	</nav>
</div>
<!-- End Navigation
================================================== -->
