<!-- Begin Menu Navigation
================================================== -->
<div class="container-fluid" id="topline">
	<div class="container ">
		<header class="blog-header">
			<div class="row flex-nowrap">
				<div class="col-md-6 text-left justify-content-end my-4">
					<a class="blog-header-logo text-light" href="/">
                    {{ $big := resources.Get "logo.svg" }}
								{{ $logo := $big | resources.Minify }}
								{{ $logo.Content | safeHTML }}
					</a><!--logo -->
				</div>
			</div><!-- header row -->
			<div class="row flex-nowrap border-top border-left border-right pt-2 ">
				<div class="nav-scroller ">
					<nav class="nav d-flex justify-content-between">
						<a class="px-3 blue" href="#">Newyddion</a>
						<a class="px-3 orange" href="#">Erthyglau</a>
						<a class="px-3 magenta" href="#">Digwyddiadau</a>
						<a class="px-3 violet" href="#">Dysgwyr</a>
					</nav>
				</div>
			</div><!--navrow-->

		</header>
	</div><!--inside-->
</div><!--fluid-->
<!-- End Navigation
================================================== -->
