<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ .Summary }}</h4>            
        </div>
		<div class="maxthumb">
			<a href="{{ .URL }}">
				{{with .Params.image}}
				<img class="img-fluid" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
				{{end}}                
			</a>
		</div>
    </div>
</div>
<!-- end post -->
